# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual Environment
# --------------------
.venv/
.env

# --------------------
# Editors / IDE
# --------------------
.vscode/
.idea/
*.log

# --------------------
# OS Junk
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Test / Cache
# --------------------
.pytest_cache/

# --------------------
# Build / Artifacts
# --------------------
dist/
build/

# --------------------
# Database / Runtime files
# --------------------
*.db
